name: Tag Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build-release:
    uses: ./.github/workflows/build.yml
    with:
      upload-artifacts: true
      create-archives: true
      ref-name: ${{ github.ref_name }}

  create-release:
    needs: build-release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub release
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          CHANGELOG=$(git tag -l --format='%(contents)' ${{ github.ref_name }})
          find artifacts -type f \( -name '*.tar.gz' -o -name '*.sha256' \) -exec mv {} artifacts/ \;
          gh release create "${{ github.ref_name }}" \
            --title "${{ github.ref_name }}" \
            --notes "$CHANGELOG" \
            artifacts/*.tar.gz \
            artifacts/*.sha256
